In [1]:
from pyspark import SparkContext
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.functions import *
from pyspark.sql.types import Row
from datetime import datetime

<class 'ModuleNotFoundError'>: No module named 'pyspark'

In [2]:
sc = SparkContext()

<class 'NameError'>: name 'SparkContext' is not defined

In [3]:
spark=SparkSession.builder.appName("Python Spark SQL basic example").
↪config("spark.some.config.option","some-value").getOrCreate()

<class 'SyntaxError'>: invalid character '↪' (U+21AA) (<ipython-input-3-709b679fefd2>, line 2)

In [4]:
srecord=sc.parallelize([
Row(roll_no=1,name="john",passed=True,marks={'Math':89,'Physics':
↪87,'Chemistry':
↪96},sports=['chess','football'],DoB=datetime(2012,5,1,12,1,5)),
Row(roll_no=2,name="Vignesh",passed=False,marks={'Math':95,'Physics':
↪66,'Chemistry':
↪77},sports=['carrom','tennis'],DoB=datetime(2012,5,12,14,2,5)),
Row(roll_no=3,name="Sidharth",passed=True,marks={'Math':95,'Physics':
↪100,'Chemistry':
↪95},sports=['football','kabadi'],DoB=datetime(2012,5,14,12,2,5))
])

<class 'SyntaxError'>: invalid character '↪' (U+21AA) (<ipython-input-4-6c53ebf0b6cc>, line 3)

In [5]:
srdf=srecord.toDF()

<class 'NameError'>: name 'srecord' is not defined

In [6]:
srdf.show()

<class 'NameError'>: name 'srdf' is not defined

In [7]:
srdf.createOrReplaceTempView('records')

<class 'NameError'>: name 'srdf' is not defined

In [8]:
spark.sql("SELECT * FROM records").show()

<class 'NameError'>: name 'spark' is not defined

In [9]:
re=spark.sql("SELECT * FROM records")
type(re)

<class 'NameError'>: name 'spark' is not defined

In [10]:
spark.sql('SELECT roll_no,marks["Physics"],sports[1] FROM records').show()

<class 'NameError'>: name 'spark' is not defined

In [11]:
spark.sql("SELECT * FROM records where passed= True").show()

<class 'NameError'>: name 'spark' is not defined

In [12]:
spark.sql('SELECT * FROM records where marks["Chemistry"]<40').show()

<class 'NameError'>: name 'spark' is not defined

In [13]:
srdf.createGlobalTempView('globalrecord')

<class 'NameError'>: name 'srdf' is not defined

In [14]:
spark.sql("SELECT * FROM global_temp.globalrecord").show()

<class 'NameError'>: name 'spark' is not defined

In [15]:
srdf.columns

<class 'NameError'>: name 'srdf' is not defined

In [17]:
srdf=srdf.drop('passed')

<class 'NameError'>: name 'srdf' is not defined

In [18]:
spark.sql("SELECT round((marks.Physics+marks.Chemistry+marks.Math)/3)avg_marks␣
↪FROM records").show()

<class 'SyntaxError'>: unterminated string literal (detected at line 1) (<ipython-input-18-bd8cb34ed3ba>, line 1)

In [19]:
srdf=spark.sql("SELECT *,round((marks.Physics+marks.Chemistry+marks.Math)/
↪3)avg_marks FROM records")

<class 'SyntaxError'>: unterminated string literal (detected at line 1) (<ipython-input-19-f49e344e58dd>, line 1)

In [20]:
srdf.show()

<class 'NameError'>: name 'srdf' is not defined